html{
  background-color: hsl(236, 33%, 92%);
}


body{
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 1.125rem !important;
  height: 100%;
  max-width: 1440px;
  margin: auto;
}

::-webkit-scrollbar{

}

::-webkit-scrollbar-thumb{

}

::-webkit-scrollbar-track{
  
}




