.list-box {
    background-color: white;
    border-radius: 6px;
    margin-top: 30px;
    color: hsl(235, 19%, 35%);
    padding: 4px;

}

.list-box .item-list {
    max-height: 450px;
    overflow-y: hidden;
}

.list-box .item-list:hover {
    overflow-y: auto;
}

.list-box .item-list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 20px;
}

.item-light {
    background-color: white;
    border-bottom: 1px solid hsl(233, 11%, 84%);
}

.item-dark {
    background-color: hsl(235, 24%, 19%);
    border-bottom: 1px solid hsl(233, 14%, 35%);
    color: hsl(236, 33%, 92%);
}

.list-box.box-dark{
    box-shadow: none;
    background-color: hsl(235, 24%, 19%);
}

.list-box .item-list .item:hover {
    cursor: pointer;
}

.list-box .item-list .item:hover .close-icon {
    display: block;
}

.list-box .list-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 14px;
    font-size: 1rem;
    color: hsl(236, 9%, 61%);
}

.list-box .list-footer .flex-item {
    display: flex;
}


.filter-lg {
    display: none;
}

.filter-mob {
    text-align: center;
    padding: 13px;
}


.text-bold {
    font-weight: 700;
}

.text-normal {
    font-weight: 400;
}

.active-link {
    color: hsl(220, 98%, 61%) !important;
}

.links {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1rem;
    color: hsl(236, 9%, 61%);
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif !important;

}

.links:hover {
    color: hsl(235, 19%, 35%);
}

.links.links-dark:hover {
    color: hsl(236, 33%, 92%) ;
}

.links .clear {
    text-align: start;
}

.flex-row {
    display: flex;
}

.center-align {
    align-items: center;
}


.task {
    margin-top: 24px;
}

.task.strike {
    text-decoration: line-through hsl(236, 9%, 61%);
}

.task.strike-light {
    color: hsl(233, 11%, 84%);

}

.task.strike-dark {
    color: hsl(234, 11%, 52%);
}


.close-icon {
    display: block;
}

.notify {
    color: hsl(220, 98%, 61%);
    font-weight: 700;
    margin: auto;
}

.notify-dark {
    color: rgb(117, 117, 117);
    ;
    font-weight: 400;
    margin: auto;
}

@media(min-width:768px) {
    .list-box .list-footer .flex-item {
        flex-direction: row;
        gap: 52px;
    }

    .filter-lg {
        display: block;
    }

    .filter-mob {
        display: none;
    }

    .close-icon {
        display: none;
    }
}