.list-box {
    background-color: white;
    border-radius: 6px;
    margin-top: 30px;
    color: hsl(235, 19%, 35%);
}

.list-box .item-list .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(233, 11%, 84%);
    padding: 9px 20px;
}

.list-box .item-list .item:hover {
    cursor: pointer;
}

.list-box .list-footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    font-size: 16px;
}

.list-box .list-footer .flex-gap {
    display: flex;
    gap: 16px;
}