.list-box {
    background-color: white;
    border-radius: 6px;
    margin-top: 30px;
    color: hsl(235, 19%, 35%);
    box-shadow: 0px 10px 16px -3px hsl(233, 11%, 84%);
}

.list-box .item-list .item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(233, 11%, 84%);
    padding: 9px 20px;
}

.list-box .item-list .item:hover {
    cursor: pointer;
}

.list-box .list-footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    font-size: 16px;
    color: hsl(236, 9%, 61%);
}


.list-box .list-footer .flex-gap {
    display: flex;
    gap: 16px;
}

.text-bold{
    font-weight: 700;
}

.text-normal{
    font-weight: 400;
}

.active-link{
    color: hsl(220, 98%, 61%);
}

.links{
    cursor: pointer;
}
